body {
  background-color: #c3c3c3;
}
svg {
  width: 100%;
  height: 100%;
}

.icon-test {
  width: 14em;
  height: 14em;
  border: 5px solid orange;
  padding: 1em;
}

/* https://codepen.io/chriscoyier/pen/dvjhn */
/* https://css-tricks.com/using-svg/ */

/* https://useiconic.com/ */
/* https://webdesign.tutsplus.com/es/articles/manipulating-svg-icons-with-simple-css--webdesign-15694 */
/* https://www.heroicons.com/ */

/*

Recursos
https://css-tricks.com/svg-sprites-use-better-icon-fonts/
https://fvsch.com/svg-icons/     !!!!!buena


https://svgontheweb.com/   !!! tutorial

Extraer css
https://github.com/adnantopal/extractcss/blob/master/lib/extractcss.js


*/
/* CSS library for dictionaries SVG  */
:root {
  --next-primary-color: #bd99c7;
  --next-secondary-color: #00a3b6;
  --next-stroke-width: 1%;
  --next-stroke-linear: #fff;

}



.nxt-svg__linear path {
  fill: none;
  stroke: var(--next-stroke-linear);
  stroke-width: var(--next-stroke-width);
}



.nxt-svg__goldstar path {
  fill:   var(--next-primary-color); /*gold;   */
  stroke: var(--next-secondary-color); /*coral;  */
  stroke-width: var(--next-stroke-width);
  stroke-linejoin: round;
}

/* https://css-tricks.com/clipping-masking-css/ */
.nxt-svg__bg--round {
  clip-path: url(#nxt-clip--circle);
}
.nxt-svg__bg--circle {
  clip-path: url(#nxt-clip--circle);
}

/* master css and svg mask https://codepen.io/yoksel/full/fsdbu/   */







.nxt-svg--shadow {
  -webkit-filter: drop-shadow(1px 1px 0px var(--next-primary-color));
  filter: drop-shadow(1px 1px 0px var(--next-primary-color));
}












.nxt-svg__anim--hideshow {
  animation: hideshow 3s ease;
}
@keyframes hideshow {
  0% { opacity: 0; }
  60% { opacity: 0; }
  100% { opacity: 1; }
}

.nxt-svg__anim--kaboom .nxt-svg__item{
  animation: kaboom 2s ease alternate infinite;
}
  .nxt-svg__anim--kaboom .nxt-svg__item:nth-child(1) {
    animation-delay: 0.1s;
  }
  .nxt-svg__anim--kaboom .nxt-svg__item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nxt-svg__anim--kaboom .nxt-svg__item:nth-child(3) {
    animation-delay: 0.3s;
  }
  .nxt-svg__anim--kaboom .nxt-svg__item:nth-child(4) {
    animation-delay: 0.4s;
  }

@keyframes kaboom {
  90% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.2);
  }
}
